**/*.sync
**/*.DS_Store
**/*.env
**/*.remote-sync.json
**/*.pyc
**/*.log
**/tags
**/TAGS
**/__pycache__/
.zcache/
.padawan/
.phpcomplete_extended/
.vscode/
.vagrant/
node_modules/
vendor/
backend/public
